@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

.logoText {
  font-family: 'Tangerine', cursive;
}
//it's beginnig to looks a lot like chritsdjasdj
.stats1 {
  -webkit-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.stats1:hover {
  transform: scale(4) translate(60px, -40px) rotate(5deg);
}

.stats2 {
  -webkit-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.stats2:hover {
  transform: scale(4) translate(-60px, -40px) rotate(-5deg);
}

.color {
  color: #c04030;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
  }

}

.animate {
  animation: animate 1s ease-in-out;
}

.animatedIcon {
  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  opacity: 0.75;
}

.animatedIcon:hover {
  transform: translateY(-10px);
  opacity: 1;
}

.floatingIcon {
  font-size: 64px;
  text-decoration: none;
  position: fixed;
  bottom: 25px;
  display: block;
  padding: 5px;
  border-radius: 10px;
}

#loginIcon {
  display: none;
  left: 15px;
}

#feedbackIcon {
  right: 15px;
}
