@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');


.logoText{
	font-family: 'Tangerine', cursive;
}

.stats{

}

.stats:hover{
	transform: scale(4);
	position: fixed;
	top: 50%;
	left: 50%;
}